<h2>About Somesh</h2>
<p>Currently pursuing career as web developer.</p>

<h2>Skills</h2>
<ul>
  <li>Web Development</li>
  <li>Android Development</li>
  <li>Machine learning</li>
</ul>

<p>Good to hear from you you can learn more about him from <a href="https://someshbose.in/blog">here</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/Someshbose">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://someshbose.in">The Author</a>
  </li>
</ul>
